script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" async defer)
script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" async defer)
script(src="https://unpkg.com/scroll-out/dist/scroll-out.min.js" defer)
script(src="https://unpkg.com/lazysizes@4.0.1/lazysizes.js" async defer)
