script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" async)
script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" async)
script(src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js" async)
script(src="https://unpkg.com/scroll-out/dist/scroll-out.min.js")
script(src="https://smtpjs.com/v3/smtp.js" async)
script(src="//cdn.jsdelivr.net/npm/sweetalert2@11" async)
script(src="https://unpkg.com/lazysizes@4.0.1/lazysizes.js" async)
script(src="https://unpkg.com/swiper/swiper-bundle.min.js" async)
