// Start media min (767)
@media #{$maxMobile} {
  // Start Aside & Header
  section.aside-nav {
    // Start Sidebar
    aside.sidebar {
      width: 100%;
      height: 92vh !important;
      top: 59px;
      z-index: 6;
      overflow: hidden;
      height: 0 !important;
      padding: 0 !important;
      &.open {
        height: 92vh !important;
      }
      .con-nav {
        margin-top: 10px;
      }
      article {
        .logo-area {
          figure {
            img {
              width: 150px !important;
              height: 150px;
              margin-top: -16px;
            }
            figcaption {
              &::after {
                left: 62%;
                top: 18%;
              }
            }
          }
        }
      }
      .links-area {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 20px 33px;
        padding: 0 18px;
        a:last-child {
          grid-column: span 2;
        }
        a:nth-last-child(2) {
          line-height: 1.7;
        }
        a::before {
          margin-right: 15px;
          font-size: 20px;
        }
      }
    }
    // End Sidebar
    // Start Header
    header {
      width: 100%;
      nav {
        .container {
          a.navbar-brand {
            margin: -2px !important;
          }
        }
      }
    }
    // End Header
    // Start Links Right
    section.links-right {
      .nav-right {
        display: block !important;
      }
      nav {
        right: -16px;
        ul {
          width: 92px;
          li {
            a.active {
              font-size: 18px;
            }
          }
        }
      }
    }
    // End Links Right
  }
  // End Aside & Header
  // Start About
  main.content {
    // Start Kamar
    .cont-kamar .kamar {
      transform: scale(0.6);
      left: -150px;
      top: -71px;
    }
    
    // End Kamar
    width: 100%;
    .main-about {
      margin-top: 300px;
      .container.about {
        .about-1 {
          .img-about {
            margin-top: 50px;
          }
          .text-about {
            .about-text {
              text-align: center;
            }
            p {
              line-height: 1.7;
            }
          }
        }
        .row.about-2 {
          .about-box-text {
            .work-about {
              p {
                font-size: 20 !important;
              }
            }
          }
        }
      }
    }
    $width: 150px;
    $height: 150px;
    .container.home-box {
      .box-info {
        left: 85px;
        width: $width;
        height: $height;
        .card-box {
          text-overflow: ellipsis;
          overflow: hidden;
          img {
            width: 100px;
            margin-top: -25px;
          }
          p {
            font-size: 10px;
          }
        }
        .front {
          transform: translateZ(calc($width / 2));
          background: radial-gradient(#101d42, #2176ae, #a9fff7, #033860, #219ebc);
          color: #000;
        }
        .back {
          transform: translateZ(calc($width / -2)) rotateY(180deg);
          background: linear-gradient(to right, #10002b, #3c096c, #9d4edd, #e0aaff);
          color: #00dcff;
        }
        .left {
          transform: rotateY(90deg) translateZ(calc($width / 2));
          background: radial-gradient(
            var(--main-color1),
            var(--main-color2),
            var(--main-color3),
            var(--main-color4),
            var(--main-color5)
          );
          color: #000;
        }
        .right {
          transform: rotateY(90deg) translateZ(calc($width / -2)) rotateY(180deg);
          background: linear-gradient(to right, #2d00f7, #b100e8, #db00b6, #f20089);
          color: powderblue;
        }
        .top {
          transform: rotateX(90deg) translateZ(calc($width / 2));
          background: radial-gradient(#38b000, #70e000, #38b000, #004b23, #006400, #007200);
          color: mintcream;
        }
        .bottom {
          transform: rotateX(90deg) translateZ(calc($width / -2)) rotateX(180deg);
          background: radial-gradient(#ffc4d6, #ff87ab, #ff5d8f, #ffacc5);
          color: darkblue;
        }
      }
      .type-write {
        top: 108%;
        font-size: 20px;
        margin-top: 30px;
        left: 17px;
      }
      .count-page {
        top: 120%;
        font-size: 20px;
        left: 0;
        .con-number-counter {
          img {
            width: 58px;
          }
          .number-counter {
            width: 60px;
            height: 60px;
            padding: 0;
          }
        }
      }
      .mockup {
        position: relative !important;
        width: 170%;
        transform: scale(0.6);
        left: -121px;
        margin-top: 50px;
        .cont-show-website {
          margin-left: 30px;
        }
      }
    }
  }
  // End About
  // Start WorkGallery
  section.work-gallery {
    .container.gallery {
      .swiper-slide {
        width: 200px;
      }
      h2 {
        margin-bottom: 20px !important;
      }
    }
  }
  // End WorkGallery
  // Start Contact Me
  section.contact {
    .container.contact-box {
      form.form-box {
        .user-box {
          div {
            textarea {
              width: 100% !important;
              height: 100% !important;
              margin-top: 10px;
            }
          }
          .submit {
            margin-top: 22px !important;
          }
        }
      }
    }
  }
  // End Contact Me
  // Start Footer
  .footer p {
    font-size: 12px !important;
  }
  // Start Footer
  .form-switch {
    display: block;
  }
}
// End media max (767)

// Start media min (768) to (992)
@media #{$minSmall} and #{$maxMedium} {
  // Home & About
  main.content {
    .container.home-box {
      .count-page {
        top: 120%;
      }
      .box-info {
        left: 330px;
      }
      .type-write {
        top: 108%;
      }
      .mockup {
        width: 100%;
        position: relative !important;
        margin-top: 150px;
      }
    }
    .main-about {
      margin-top: 350px;
    }
  }
  // Contact Me
  section.contact {
    .container.contact-box {
      form.form-box {
        .user-box {
          div {
            textarea {
              height: 130%;
              margin-top: 10px;
            }
          }
          .submit {
            margin-top: 60px !important;
          }
        }
      }
    }
  }
  // Footer
  .footer {
    p {
      font-size: 20px !important;
    }
  }
  $width: 250px;
  $height: 250px;
}
